.education
    .education__main-title 
        | Образование 
    .education__list 
        .education__item 
            .education__icons
                .education__icon.education__icon--bluish
                .education__icon.education__icon--violet
                .education__icon.education__icon--yellow
            .education__title 
                | Interface Design:<br> Web & Mobile
            .education__text
                | IT-Academy, 2020
        
        .education__item 
            .education__icons
                .education__icon.education__icon--yellow
            .education__title 
                | Fundamentals <br>of Usability
            .education__text
                | Skillshare, Oct 2018

        .education__item 
            .education__icons
                .education__icon.education__icon--pink
            .education__title 
                | CG Artist
            .education__text
                | Polygon CG School, May-Sep 2017
        
        .education__item 
            .education__icons
                .education__icon.education__icon--bluish
            .education__title 
                | Graphic Design
            .education__text
                | Belarusian State Academy of Arts, 2015 - 2017 Postgraduate Diploma
        
        .education__item 
            .education__icons
                .education__icon.education__icon--orange
            .education__title 
                | SEO Specialist
            .education__text
                | ARTOX Media, Jun-Aug 2012
        
        .education__item 
            .education__icons
                .education__icon.education__icon--green
            .education__title 
                | Information Technology Software
            .education__text
                | Belarusian State University of Informatics and Radioelectronics, 2011 - 2015 
                | Bachelor’s degree Polotsk State Economic College, 2007 - 2011
                | Associate’s degree