footer.footer
    .container
        .footer__inner
            picture.footer__pic
                source(srcset=`${baseDir}images/hends-heart.png, ${baseDir}images/hends-heart@2x.png 2x`)
                img(src="" alt="heart")
