.to-top.backTop.js-back-to-top
    <svg width="100" height="100" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="48" height="48" fill="none" />
        <rect width="1440" height="2660" transform="translate(-1367 -2522)" fill="none" />
        <circle class="circle-bg" cx="25" cy="25" r="22" fill="none" stroke-width="1" stroke="#282A33" />
        <circle class="circle" cx="25" cy="25" r="22" fill="none" stroke-width="1" stroke="#D2233C" />
        <g class="to-top__arr">
            <path d="M24 36V12.3678" stroke="#282A33" stroke-width="2" />
            <path d="M15 21.2874L24 12L33 21.2874" fill="none" stroke="#282A33" stroke-width="1.9" />
        </g>
    </svg>
    .to-top__inner
        | 25%
